* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(94vw, 800px);
    margin: auto;
}

header {
    background: #2D4A22;
    padding: 2rem 0 10rem;
    text-align: center;
}

/* Titles ================================= */

h2 {
    margin-top: 3.5rem;
    margin-bottom: 0.8rem;
    font-weight: 400;
}
#logo {
    color: white;
    font-weight: 100;
}

/* Links & Buttons ================================= */

a {
    color: #49AA26;
    text-decoration: none;
}

a:hover {
    color: #3dd705;
    text-decoration: none;
}

.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}

/*Balance ================================= */

#balance {
    margin-top: -8rem;
}

#balance h2{
    color: white;
    margin-top: 0em;
}

/* Cards ================================== */

.card {
    background: white;
    padding: 1.3rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.26rem;
}

.card h3 {
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3.1rem;
    margin-top: 1rem;
}

.card.total {
    color: white;
    background: #49AA26;
}

/* Table ================================== */

#data-table {
    width: 100%;
    border-spacing: 0 0.44rem;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.26rem 0 0 0.26rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.26rem 0.26rem 0;
}

table th {
    background: white;
    font-weight: 400;
    padding: 1rem 2rem;
    color: #969CB3;
    text-align: left;
}

table tbody tr {
    opacity: 0.71;
}

table tbody tr:hover {
    opacity: 1;
}

table td {
    background: white;
    padding: 1rem 2rem;
}

/* Footer ================================== */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    opacity: 0.62;
}

/* Responsiveness ========================== */

@media (min-width: 800px) {
        html {
            font-size: 87.5%;
        }

        #balance {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
}
